.interiorBtn {
    background-color: #a27a42;
    border-radius: 30px;
    text-align: center;
    font-size: 16px;
}

/*Colony List Styling Begin*/

.addColony {
    text-align: center;
    margin-bottom: 30px;
}

.colonyContainer {
    margin: 50px 0;
}

.colonyHeader {
    text-align: center;
    margin-bottom: 20px;
}

.colonies {
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.colonyDiv {
    /* flex-basis: 33%;
    margin-right: 30px; */
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
    background-color: rgb(135, 138, 59, .9);
    border-radius: 30px;
    width: 220px;
    height: 300px;
}

.colonyImg {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 30px;
    align-self: center;
    margin: 8px;
}

.colonyLink {
    text-decoration: none;
    font-family: "Cutive Mono", Arial, sans-serif;
    color: #fefeed;
    font-size: 18px;
}

.colonyLink--P {
    text-align: center;
    margin-bottom: 5px;
    font-weight: 600;
}

.colonyLink--P:hover {
    background-color: rgb(213, 209, 135, .9);
    border-radius: 30px;
    font-weight: 600;
}

.colonyTime {
    text-align: center;
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 500;
    color: #fefeed;
}

/*Colony Details Styling Begin*/

.colonyProfile {
    margin-top: 30px;
}

.profileButtons {
    margin: 0 30px;
}

.deleteBtn {
    background-color: #a24242;
    border-radius: 30px;
    font-size: 16px;
    text-align: center;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card-colony {
    border-radius: 30px;
    width: 220px;
    height: 300px;
    perspective: 1000px; /* 3D effect */
    margin-left: 35px;
  }
  
  /* This container is needed to position the front and back side */
.flip-card-inner-colony {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card-colony:hover .flip-card-inner-colony {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
.flip-card-front-colony, .flip-card-back-colony {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
.flip-card-front-colony {
    background-color: rgb(101, 62, 8, .9);
    color: #fefeed;
    border-radius: 30px;
    text-align: center;
  }
  
  /* Style the back side */
.flip-card-back-colony {
    background-color: rgb(135, 138, 59, .9);
    color: #fefeed;
    border-radius: 30px;
    transform: rotateY(180deg);
    text-align: left;
  }

.colony_header{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20px;
  }

.colonyImg--details {
    width: 200px;
    height: 150px;
    object-fit: cover;
    object-position: 60% 0%;
    border-radius: 30px;
}

.colonyDetails--top {
    font-size: 15px;
    color: #fefeed;
    line-height: 1;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-top: 80px;
    font-weight: 600;
}

.colonyDetails{
    font-size: 15px;
    color: #fefeed;
    line-height: 1;
    margin-bottom: 20px;
    margin-left: 15px;
    font-weight: 600;
}

/*Colony Cats Styling Begin*/

.colonyCatsHeader{
   text-align: center;
   margin-top: 40px;
}

.colonyCatsContainer {
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 20px;
}

.colonyCats {
    display: flex;
    flex-direction: column;
    margin: 8px 20px;
}

.colonyCatimg{
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 30px;
}

.colonyCatsLink {
    text-decoration: none;
    font-family: "Cutive Mono", Arial, sans-serif;
    color: #653E08;
    font-size: 18px;
}

.colonyCatsLink--P {
    text-align: center;
    margin-bottom: 5px;
    font-weight: 600;
}

.colonyCatsLink--P:hover {
    background-color: rgb(213, 209, 135, .9);
    border-radius: 30px;
    font-weight: 600;
}

/*Colony Log Entries Styling Begin*/

.colonyEntriesHeader {
    text-align: center;
    background-color: rgb(213, 209, 135, .9);
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 8px;
}

.colonyEntriesContainer {
    margin-bottom: 20px;
    padding-bottom: 15px;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: rgb(213, 209, 135, .9);
}

.entryDiv {
    /* flex-basis: 33%;
    margin-right: 30px; */
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
    background-image: url("images/entryPaper.jpg");
    border-radius: 30px;
    width: 220px;
    height: 300px;
}

.entryDetails--top {
    font-size: 16px;
    line-height: 1;
    margin-bottom: 10px;
    margin-top: 40px;
    font-weight: 800;
    text-align: center;
}

.entryDetails{
    font-size: 15px;
    line-height: 1;
    margin-bottom: 10px;
    font-weight: 400;
    text-align: left;
    text-indent: 26%;
}