.interiorBtn {
    background-color: #a27a42;
    border-radius: 30px;
    text-align: center;
    font-size: 16px;
}

/*Colony List Styling Begin*/

.addColony {
    text-align: center;
    margin-bottom: 30px;
}

.colonyContainer {
    margin: 50px 0;
}

.colonyHeader {
    text-align: center;
    margin-bottom: 20px;
}

.colonies {
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.colonyDiv {
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
    background-color: rgb(135, 138, 59, .9);
    border-radius: 30px;
    width: 220px;
    height: 300px;
}

.colonyImg {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 30px;
    align-self: center;
    margin: 8px;
}

.colonyLink {
    text-decoration: none;
    font-family: "Cutive Mono", Arial, sans-serif;
    color: #fefeed;
    font-size: 18px;
}

.colonyLink--P {
    text-align: center;
    margin-bottom: 5px;
    font-weight: 600;
}

.colonyLink--P:hover {
    background-color: rgb(213, 209, 135, .9);
    border-radius: 30px;
    font-weight: 600;
}

.colonyTime {
    text-align: center;
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 500;
    color: #fefeed;
}

/*Colony Details Styling Begin*/

.colonyProfile {
    margin-top: 30px;
}

.profileButtons {
    margin: 0 35px;
}

.colonyEditBtn {
    margin-left: 10px;
}

.deleteBtn {
    background-color: #a24242;
    border-radius: 30px;
    font-size: 16px;
    text-align: center;
}


/* The colony card container*/
.colony-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 30px;
    background-color: rgb(135, 138, 59, .85);
    width: 600px;
    height: 250px;
    margin-left: 35px;
}

/* Style the left*/
.colony-card-left {
    color: #fefeed;
    border-radius: 30px;
    text-align: center;
    padding-left: 35px;
}

  /* Style the right side */
.colony-card-right {
    color: #fefeed;
    border-radius: 30px;
    text-align: left;
    padding-left: 35px;
}

.colony_header{
    font-size: 20px;
}

.colonyImg--details {
    width: 200px;
    height: 150px;
    object-fit: cover;
    object-position: 60% 0%;
    border-radius: 30px;
}

.colonyDetails--top {
    font-size: 16px;
    color: #fefeed;
    line-height: 1;
    padding-top: 40px;
    margin-bottom: 20px;
    margin-left: 15px;
    font-weight: 600;
}

.colonyDetails{
    font-size: 16px;
    color: #fefeed;
    line-height: 1;
    margin-bottom: 20px;
    margin-left: 15px;
    font-weight: 600;
}

/*Colony Cats Styling Begin*/

.colonyCatsHeader {
   text-align: center;
   margin-top: 40px;
}

.colonyCatsContainer {
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 20px;
}

.colonyCats {
    display: flex;
    flex-direction: column;
    margin: 8px 20px;
}

.colonyCatImg{
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 30px;
}

.colonyCatsLink {
    text-decoration: none;
    font-family: "Cutive Mono", Arial, sans-serif;
    color: #653E08;
    font-size: 18px;
}

.colonyCatsLink--P {
    text-align: center;
    margin-bottom: 5px;
    font-weight: 600;
}

.colonyCatsLink--P:hover {
    background-color: rgb(213, 209, 135, .9);
    border-radius: 30px;
    font-weight: 600;
}

/*Colony Log Entries Styling Begin*/

.colonyEntriesHeader {
    text-align: center;
    background-color: rgb(213, 209, 135, .9);
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 8px;
}

.colonyEntriesContainer {
    margin-bottom: 20px;
    padding-bottom: 15px;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: rgb(213, 209, 135, .9);
}

.entryDiv {
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
    background-image: url("images/entryPaper.jpg");
    border-radius: 30px;
    width: 220px;
    height: 300px;
}

.entryDetails--top {
    font-size: 16px;
    line-height: 1;
    margin-bottom: 10px;
    margin-top: 40px;
    font-weight: 800;
    text-align: center;
}

.entryDetails{
    font-size: 15px;
    line-height: 1;
    margin-bottom: 10px;
    font-weight: 400;
    text-align: left;
    text-indent: 26%;
}