.h1, h1 {
    font-size: 2.5rem;
}

fieldset {
    min-width: 0;
    padding: 1rem 0;
    margin: 0;
    border: 0;
}

.myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.25);
    color: #fefeed;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.form--login {
    display: inline-block;
    margin: 80px auto;
    text-align: left;
    padding: 5px 20px;
}

.form--login > fieldset > input[type="email"] {
    width: 25em;
}

.label--login {
    width: 8rem;
    display: inline-block;
}

.form-control {
    display: block;
    width: 94%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.container--login {
    text-align: center;
}

.form--login {
    background-position-x: right;
    z-index: 1;
    min-height: 25rem;
    min-width: 45rem;
    /* background-color: rgba(255, 255, 255, 0.25); */
    background-color: rgba(0,0,0, 0.25);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
}

.button--close {
    position: relative;
    bottom: -2rem;
}

.link--register {
    color: #fefeed
}

.link--register:hover {
    color: #edd082
}

.login--title {
    margin-bottom: 0;
}

.login--subtitle {
    font-size: 18px;
    margin-top: 0;
}